.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(115deg, #ffffff 75%, #c21a17 75.1%);
}
.lisa{
  position: absolute;
  width: 20%;
  height: 50%;
  left: 0%;
  top: 50%;
z-index: 2;
display: flex;
  align-items: center;
  justify-content: center;
}
.lisa img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}

.container{
  position: relative;
  width: 50%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: transparent;
  padding: 20px;
  border-radius: 0.4em;

}
.appcont{
  position: relative;
  margin: 10px;
  width: 100%;
  height: 50px;
  border-radius: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.appcont sup{
  font-size: 13px;
  font-weight: bold;
  color: #505050;
}
.ContTxt{
  position: relative;
  margin: 10px;
  width: 100%;
  height: 100px;
  border-radius: 0.9em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.txt{
  z-index: 3;
  position: relative;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: larger;
  border: none;
  background: #f0f0f0;
}

.combac{
  position: absolute;
  top: 30px;
  left: 1px;
  width: 100px;
  height: 40px;
  z-index: 100;
  border: none;
  text-align: center;
  font-size: medium;
  background: transparent;
  font-weight: normal;
  font-size: medium;
}

.button{
  z-index: 3;
  position: relative;
  margin-top: 30px;
  width: 47.5%;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#ebebeb ;
  border-radius: 0.5em;
  font-size: larger;
  font-weight: lighter;
  border: none;
  transition: 0.2s;
}

.button:disabled{
  cursor: default;
  background-color: rgba(172, 167, 167, 0.54);
}
.button:disabled:hover{
  cursor: default;
  background-color: #cfcece;
  color: #b0b0b0;
}
.button:hover{
  cursor: pointer;
  background: #c21a17;
  color: #f0f0f0;
  transform: scale(1.04);
  font-weight: bold;
}
.buttonEnv{
  z-index: 3;
  position: relative;
  width: 47.5%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#ebebeb ;
  border-radius: 0.5em;
  font-size: larger;
  font-weight: lighter;
  border: none;
  transition: 0.2s;
}
.buttonEnvActive{
  background-color: #c21a17;
  color: #f0f0f0;
  font-weight: bold;
  transition: 0.2s;
}
.buttonEnvActive sup{
  color: #f0f0f0;
}
.buttonEnv:hover{
  cursor: pointer;
  transform: scale(1.04);
}